@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ui basic segment">
    <h3 class="ui header">Application Content</h3>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>